body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f7f7f7;
}

header {
    background: #6a1b9a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

.proyecto {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 15px;
}

@media (max-width: 600px) {
    body {
        text-align: center;
    }
}
.foto-perfil {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 4px solid #6a1b9a;
    object-fit: cover;
    margin: 10px 0;
}

textarea, input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #6a1b9a;
    margin-bottom: 10px;
    font-size: 14px;
}

button {
    padding: 10px 15px;
    background: #6a1b9a;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    background: #8e24aa;
}

